.wa-home-page {
    display: grid;
    gap: 20px;

    @media (min-width: 1100px) {
        grid-template-columns: 8fr auto;
        grid-template-rows: 380px 70px 1fr;
        height: 100%;
    }

    &__container {
        padding: 20px;

        @media (min-width: 1100px) {
            width: 100vw;
            height: 100vh;
        }

        @media (min-width: 1600px) {
            padding-left: 20%;
            padding-right: 20%;
        }
    }

    & > div {
                border-radius: 9px;
                background: #4466ff;
                overflow: hidden;
            }
    
    &__map {
        height: 60vh;

        @media (min-width: 1100px) {
            grid-area: 3 / 1 / 4 / 3;
            height: auto;
        }
    }

    &__weather-info {
        padding: 20px;
    }

    &__map-header {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;

        @media (min-width: 1100px) {
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    &__weather-location-history {
        padding: 20px;
        height: 40vh;

        @media (min-width: 1100px) {
            height: 100%;
        }
    }

}