.wa-location-history {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    &__header {
        padding-bottom: 10px;
        text-shadow: #fff 1px 0 24px;
        text-align: center;
        font-weight: bold;
    }

    &__content {
        overflow: auto;
        padding: 0 20px;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__location {
        display: flex;
        width: 200px;
        height: 24px;
        margin: 0 auto 5px auto;
        border-radius: 9px;
        background: #77684f;
        transition: transform 0.5s;
        
        &:hover {
            transform: scale(1.1);
        }
    }

    &__select-btn {
        flex-grow: 1;
        border: none;
        background: none;
        text-align: start;
        padding: 0 20px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
    }

    &__delete-btn {
        flex-shrink: 0;
        width: 24px;
        border: none;
        background: none;
        border-left: 1px solid #000;
        cursor: pointer;
        color: #fff;

        &:hover {
            color: #ea4335;
        }
    }

    &__empty {
        text-shadow: #fff 1px 0 24px;
    }

    &__clear-history {
        padding-top: 10px;
    }

    &__clear-history-btn {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 150px;
        border-radius: 9px;
        background: #77684f;
        border: none;
        cursor: pointer;
        color: #fff;

        &:disabled {
            cursor: not-allowed;
            background: #595d62;
            color: #000;

            &:hover {
                color: #000;
            }
        }

        &:hover {
            color: #ea4335;
        }
    }
}
