.wa-about {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 1099px) {
        right: 0;
        left: 0;
        top: -100vh;
        height: 100vh;
        transition: backdrop-filter 3s, top 3s;
        transition-delay: 0s, 0.8s;

        &--open {
            top: 0;
            backdrop-filter: blur(2px);
            transition-delay: 3s, 0s;
        }
    }

    @media (min-width: 1100px) {
        bottom: 0;
        top: 0;
        left: -100vw;
        width: 100vw;
        transition: backdrop-filter 3s, left 3s;
        transition-delay: 0s, 0.8s;

        &--open {
            left: 0;
            backdrop-filter: blur(2px);
            transition-delay: 3s, 0s;
        }
    }

    &__content {
        padding: 50px;
        background: red;
        width: 50vw;
        height: 50vh;
        position: relative;
        transition: left 3s;
    }

    &__open-btn-wrapper {
        position: fixed;
        z-index: 2;
        overflow: hidden;

        @media (max-width: 1099px) {
            left: 0;
            right: 0;
            top: 0;
            height: 40px;

            transition: top 3s;
            
            &--hidden {
                top: -40px;
            }
        }

        @media (min-width: 1100px) {
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            
            transition: left 3s;

            &--hidden {
                left: -50px;
            }
        }
    }

    &__open-btn {
        
        font-size: 20px;
        background: #7d6b37;
        color: #111;
        cursor: pointer;
        
        &:hover {
            background: #8e7c48;
        }

        @media (max-width: 1099px) {
            width: 100%;
            height: 100%;
            border: none;
        }

        

        @media (min-width: 1100px) {
            width: 100px;
            height: 50px;   
            transform: rotate(90deg) translate(40px, 26px);
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            border: 2px solid #8e7c48;
            transition: color 0.5s;
        }

    }
}
